@import '../../styles/variables';

.container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 90%;
	background-color: rgba(24, 24, 24, 0.5);
	backdrop-filter: blur(0.5rem);
	z-index: 6;

	@media screen and (max-width: 1000px) {
		display: none;
	}

	&.mobile {
		@media screen and (max-width: 1000px) {
			display: flex;
			z-index: 10;
			right: 0;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	header {
		background-color: #000000;
		text-align: center;
		padding-bottom: 1.4vw;

		@media screen and (max-width: 1000px) {
			padding-bottom: 6vw;
		}

		a {
			color: unset;
			text-decoration: none;

			h1 {
				font-size: 6.5vw;
				font-weight: 800;
				color: $primaryColor;
				text-shadow: -0.6vw 0 0 $secondaryColor;
				margin-top: -0.5vw;

				@media screen and (max-width: 1000px) {
					font-size: 20vw;
					text-shadow: -1.5vw 0 0 $secondaryColor;
					margin-top: 6vw;
				}
			}

			h2 {
				margin-top: -1vw;
				font-size: 1.5vw;
				font-weight: 600;

				@media screen and (max-width: 1000px) {
					font-size: 5vw;
					margin-top: -3vw;
					line-height: 6vw;
				}
			}
		}

		p {
			font-size: 0.85vw;
			opacity: 0.7;
			font-weight: 500;
			margin-top: 0.6vw;

			@media screen and (max-width: 1000px) {
				font-size: 3.25vw;
				margin-top: 3vw;
			}
		}
	}

	> svg {
		display: none;

		@media screen and (max-width: 1000px) {
			display: block;
			position: fixed;
			top: 1%;
			right: 1.8%;
			font-size: 14vw;
			cursor: pointer;
			color: #fff;
		}
	}

	nav {
		ul {
			text-align: center;
			list-style: none;
		}
	}

	footer {
		margin-top: 1vw;

		@media screen and (max-width: 1000px) {
			padding-bottom: 4vw;
		}

		ul {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1vw;

			@media screen and (max-width: 1000px) {
				gap: 4vw;
			}

			a {
				color: unset;
				text-decoration: none;

				li {
					opacity: 0.6;
					font-size: 1.1vw;
					transition: color 0.3s ease-in-out;
					transition: opacity 0.3s ease-in-out;

					@media screen and (max-width: 1000px) {
						font-size: 5vw;
						opacity: 0.5;
					}

					&:hover {
						color: $secondaryColor;
						opacity: 1;
					}
				}
			}
		}
	}
}

.subContainer {
	position: fixed;
	top: 1.2%;
	right: 2%;
	display: none;
	background-color: rgba($color: #000000, $alpha: 0.3);
	border-radius: 0.5vw;
	padding: 1.8vw;

	svg {
		font-size: 10vw;
		cursor: pointer;
	}

	@media screen and (max-width: 1000px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
