@import '../../../styles/variables';

.container {
	color: unset;
	text-decoration: none;

	li {
		border-top: 0.05vw solid rgba($color: #fff, $alpha: 0.15);
		opacity: 0.6;
		font-size: 1.1vw;
		font-weight: 500;
		padding: 1vw;
		transition: color 0.3s ease-in-out;
		transition: opacity 0.3s ease-in-out;

		@media screen and (max-width: 1000px) {
			font-size: 4.5vw;
			font-weight: 400;
			opacity: 0.5;
			padding: 4.5vw;
			border-top: 0.005vw solid rgba($color: #fff, $alpha: 0.1);
		}

		&:last-child {
			border-bottom: 0.05vw solid rgba($color: #fff, $alpha: 0.15);

			@media screen and (max-width: 1000px) {
				border-top: 0.005vw solid rgba($color: #fff, $alpha: 0.1);
			}
		}

		&:hover,
		&.active {
			color: $secondaryColor;
			opacity: 1;
		}
	}
}
