@import '../styles/variables';

.container {
	margin-left: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding-left: 5vw;

	@media screen and (max-width: 1000px) {
		margin-left: 0;
		padding-left: 8vw;
	}

	h1 {
		font-size: 7vw;
		font-weight: 700;
		line-height: 95%;
		font-family: var(--font-saira);

		@media screen and (max-width: 1000px) {
			font-size: 11.5vw;
			line-height: 110%;
		}

		span {
			color: $primaryColor;
			text-shadow: -0.6vw 0 0 $secondaryColor;

			@media screen and (max-width: 1000px) {
				text-shadow: -1vw 0 0 $secondaryColor;
			}
		}
	}

	p {
		font-size: 1.1vw;
		opacity: 0.6;
		letter-spacing: 0.3vw;
		font-weight: 300;
		margin: 1.5vw 0 3vw 0;

		@media screen and (max-width: 1000px) {
			font-size: 4vw;
			font-weight: 200;
			letter-spacing: 0.2vw;
			margin: 5vw 0 8vw 0;
		}
	}

	a {
		text-decoration: none;

		button {
			background-color: transparent;
			color: $secondaryColor;
			transition: color 0.2s;
			padding: 1vw 4vw;
			font-weight: 400;
			font-size: 1vw;
			border: 0.1vw solid $secondaryColor;
			letter-spacing: 0.2vw;
			cursor: pointer;
			position: relative;
			z-index: 2;
			overflow: hidden;

			@media screen and (max-width: 1000px) {
				padding: 3vw 9vw;
				font-weight: 300;
				font-size: 3.8vw;
				border: 0.05vw solid $secondaryColor;
				letter-spacing: 0.8vw;
			}

			&:hover {
				color: black;

				.dot {
					background-color: white;
				}

				.bg {
					width: 150%;
				}
			}

			.dot {
				position: absolute;
				bottom: -0.08vw;
				right: -0.06vw;
				height: 0.4vw;
				width: 0.4vw;
				background-color: $secondaryColor;
				transition: background-color 0.2s;
				z-index: 3;

				@media screen and (max-width: 1000px) {
					height: 1.5vw;
					width: 1.5vw;
				}
			}

			.bg {
				position: absolute;
				width: 0;
				top: 0;
				left: 0;
				bottom: -0.06vw;
				background-color: $secondaryColor;
				transition: width 0.4s;
				z-index: -1;
				clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
			}
		}
	}
}
